.errorPage {
  background-color: #1f2640;
  height: 100vh;
  color: #fff;
  font-family: Roboto;
  font-style: bold;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
  fill: solid;
}
