.dashboard {
  margin: 0 10%;
}

@media only screen and (max-width: 1024px) {
  .popUp {
    position: absolute;
    margin: auto;
    left: 20px;
    top: 150px;
    height: 400px;
    width: 320px;
    background-color: #fff;
  }
}
