.tabBar {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgb(241, 241, 244);
}

.tabItem {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 241px;
  text-align: center;
}

.tabItem:hover {
  color: #8ead2f;
  border-bottom: 3px solid #8ead2f;
}

.active {
  border-bottom: 4px solid #83a515;
  color: #83a515;
  padding-bottom: 10px;
}

@media only screen and (max-width: 550px) {
  .tabBar {
    display: flex;
    width: 28%;
  }

  .tabItem {
    font-size: 13px;
    min-width: 100px;
  }
}
